// Set these values and save as Credentials.h
const char* ssid = "SSID of your wifi network";
const char* password = "Password for your Wifi network";
const String pushoverUser = "Pushover User Token";
const String pushoverKey = "Pushover App Token";
